<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="regresar()">
      <ion-back-button defaultHref="/">
      </ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="logout()" slot="end" fill="clear">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed style="padding-top: 20px;">
    <ion-row>
      <ion-col></ion-col>
      <ion-col>
        <ion-avatar>
          <ion-icon name="person-circle-outline" style="font-size: 110px;"></ion-icon>
        </ion-avatar>
      </ion-col>
      <ion-col>
        
      </ion-col>
    </ion-row>
  </ion-grid>
  <div style="padding-top: 50px;"> 
    <ion-card>
      <ion-card-header style="text-align: center;">
        <ion-card-title>{{nombre}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            Correo electronico <br>
            {{email}}
          </ion-item>
          <br>
          <ion-item>
            Contraseña <br>
            ************
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
    <br>
    <ion-card>
      <ion-card-content>
        <ion-button (click)="editUser()" expand="block" shape="round">
          <ion-icon name="create-outline"></ion-icon>
          Editar cuenta
        </ion-button>
        <br>
        <ion-button (click)="eliminar()" expand="block" shape="round" color="danger">
          <ion-icon name="trash-outline"></ion-icon>
          Eliminar cuenta
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>