<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-icon name="construct-outline" slot="end" style="font-size: 30px; padding-right: 10px;" (click)="soporte()"></ion-icon>
    <ion-title>
      Infromación adicional
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div >
    <ion-grid>
      <ion-row style="align-items: center;">
        <ion-col>
          <ion-button (click)="singin()" expand="block" shape="round">
            <p id="txtAuth"></p>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button id="btnRegister" (click)="singup()" expand="block" shape="round">
            Registrarte
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-card style="text-align: center;">
    <ion-card-header>
      <ion-card-title style="font-size: 30px;">
        Dirección
      </ion-card-title>
      <ion-card-subtitle>
        <div id="mapId" style="height: 280px;">
        </div>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content style="font-size: large;">
      Avenida Barones #31 <br>
      Colonia Las Americas <br>
      Dueño Eleazar Ruelas Martell
    </ion-card-content>
  </ion-card>

</ion-content>